/*mark default*/
body {
    font-family: 'Times New Roman', Times, serif;
    background-color: #4b6a6a;
}



header {
    background-color: #282331;
    color: #ffffff;
    text-align: center;
    margin-left: 250px;
    margin-right: 250px;
    border-radius: 10px;
    font-size: 12px;
}

label {
    margin-bottom: 4px;
    font-size: 18px;
    font-weight: bold;
    color: #0C134F;
}

button {
       background-color: #404163;
       color: black;
       padding: 10px 20px;
       border-radius: 10px;
       cursor: pointer;
       border: none;
       margin-block: 15px;
       margin-right: 20px;
}

button:hover {
    background-color: #212230 ;
}

button:active {
    transform: translateY(1px);
    background-color: #4b6a6a;
}

/*mark id*/
#inputField {
    outline: none;
    font-size: medium;
    border-radius: 10px;
    padding: 10px;
    border: solid #D2E9E9;
    padding: 10px;
}
 #inputField:focus {
  border: solid #0C134F;
 }

 /*mark class*/
.InputSection{
     display: flex;
     flex-direction: column;

}

.InputButtonSection {
    display: flex;
    flex-direction: row;
    align-self: center
}

